:root{
        /* font-size */
        --fs-sm: 14px;
        --fs-md: 16px;
        --fs-lg: 32px;

        /* color */        
        --color-white: #fcfdff;
        --color-black: #030712;
        --color-drk-gray: #62656d;
        --color-blue: #2563eb;
        --color-gray: #9197A6;

}

.fs-sm{
        font-size: var(--fs-sm);
}
.fs-md{
        font-size: var(--fs-md);
}
.fs-lg{
        font-size: var(--fs-lg);
}

.white{
        color: var(--color-white);
}
.black{
        color: var(--color-black);
}
.drk-gray{
        color: var(--color-drk-gray);
}
.gray{
        color: var(--color-gray) !important;
}
.blue{
        color: var(--color-blue);
}